﻿@model SIPAccountManager.Models.DataBase.SipAccount

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sip Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Server)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Server)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (ViewBag.Error != null)
        {
            <input type="submit" value="Delete" class="btn btn-danger disabled" disabled />
        }
        else
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        <a asp-action="Index">Back to List</a>
    </form>
</div>
