﻿@model SIPAccountManager.Models.DataBase.WorkPlace

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Work Place</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSGXPPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSGXPPhone.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
